:root{
    --charleston-green: #2a2d2eff;
    --ming: #246b78ff;
    --light-blue: #aed0d6ff;
    --midnight-green-eagle-green: #104e59ff;
    --sky-blue-crayola: #43d6f0ff;
    --light : #fefefe;
    --lighttint : #f7f7f8;
}

html, body, #ROOT{
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
}

#ROOT{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 2px 0 2px;
    background: var(--charleston-green);
}

nav span{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav #appbtns{
    height: 50%;
}

nav #sudobtns{
    height: 20%;
}

nav .btns{
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

nav .btnbackground{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/*nav .btnbackground:active{
    background: var(--lighttint);
}*/

nav #folders{
    background: url("../imgs/folder.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

nav #documents{
    background: url("../imgs/files.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

nav #images{
    background: url("../imgs/images.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

nav #videos{
    background: url("../imgs/videos.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

nav #music{
    background: url("../imgs/music.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

nav #modebtn{
    background: url("../imgs/settings.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

nav #powerbtn{
    background: url("../imgs/power.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

#mainsection{
    width: 95%;
    height: 100%;
    /*padding: 20px 20px 20px 20px;*/
    background: var(--light);
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#filecontainer{
    width: 92%;
    height: 92%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 10px 10px 10px;
    background: var(--lighttint);
}

.file{
    width: 80px;
    min-height: 70px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    color: var(--charleston-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    float: left;
    overflow: hidden;
}

.file div{
    width: 40px;
    height: 40px;
}

.file p{
    text-align: center;
    margin: 0 0 0 0;
}

.file .folder{
    background: url("../imgs/folder.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .nim, .file .nims{
    background: url("../imgs/nim.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .py, .file .pyc{
    background: url("../imgs/python.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .pdf{
    background: url("../imgs/pdf.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .kt, .file .kts{
    background: url("../imgs/Kotlin.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .js{
    background: url("../imgs/javascript.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .ts{
    background: url("../imgs/typescript.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .mp3, .file .wav{
    background: url("../imgs/music.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .png, .file .jpg, .file .jpeg, .file .svg{
    background: url("../imgs/image.png") no-repeat;
    background-size: contain;
    background-position: center;
}

.file .mp4, .file .mkv{
    background: url("../imgs/video.png") no-repeat;
    background-size: contain;
    background-position: center;
}

#send{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#send input[type = "file"]{
    display: none;
}

#send label{
    width: 40%;
    height: 40%;
    background: var(--light);
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 6px rgba(146, 146, 146, 0.739);
}

#send label img{
    height: 140px;
}

#send button{
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    font-size: larger;
    background: var(--charleston-green);
    border-radius: 6px;
    color: var(--light);
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(146, 146, 146, 0.739);
}

#send button:active{
    /*background: var(--ming);*/
    box-shadow: inset 4px 4px 6px rgba(146, 146, 146, 0.739);
}

@media only screen and (min-width: 768px) {
    
    nav{
        width: 15%;
        padding: 0 5px 0 5px;
    }

    nav .btns{
        width: 80px;
        height: 80px;
        border-radius: 80px;
    }

    #mainsection{
        width: 83%;
    }
    
    .file{
        width: 120px;
        min-height: 70px;
        margin: 15px 15px 15px 15px;
    }
    
    .file div{
        width: 80px;
        height: 80px;
    }

    .file p{
        font-size: x-large;
    }
    
    #send label{
        width: 80%;
        height: 30%;
    }
    
    #send label img{
        height: 220px;
    }
    
    #send button{
        width: 200px;
        height: 100px;
        font-size: xx-large;
        border-radius: 12px;
    }
}

@media only screen and (min-width: 1024px) {
    
    nav{
        width: 8%;
    }

    #mainsection{
        width: 88%;
    }
    
    .file{
        width: 120px;
        min-height: 80px;
        margin: 15px 15px 15px 15px;
    }
    
    .file div{
        width: 80px;
        height: 80px;
    }

    .file p{
        font-size: x-large;
    }
    
    #send label{
        width: 60%;
        height: 30%;
    }
    
    #send label img{
        height: 200px;
    }
    
    #send button{
        width: 200px;
        height: 100px;
        font-size: xx-large;
        border-radius: 12px;
    }
}

@media only screen and (min-width: 1366px) {
    
    nav{
        width: 5%;
    }

    nav .btns{
        width: 50px;
        height: 50px;
        border-radius: 40px;
    }

    #mainsection{
        width: 95%;
    }
    
    .file{
        width: 80px;
        min-height: 70px;
        margin: 10px 10px 10px 10px;
    }
    
    .file div{
        width: 40px;
        height: 40px;
    }

    .file p{
        font-size: medium;
    }
    
    #send label{
        width: 40%;
        height: 40%;
    }
    
    #send label img{
        height: 120px;
    }
    
    #send button{
        width: 100px;
        height: 40px;
        font-size: medium;
        border-radius: 6px;
    }
}