/* Coolors Exported Palette - https://coolors.co/2a2d2e-246b78-aed0d6-104e59-43d6f0 */

/* CSS HEX */
--charleston-green: #2a2d2eff;
--ming: #246b78ff;
--light-blue: #aed0d6ff;
--midnight-green-eagle-green: #104e59ff;
--sky-blue-crayola: #43d6f0ff;

/* CSS HSL */
--charleston-green: hsla(195, 5%, 17%, 1);
--ming: hsla(189, 54%, 31%, 1);
--light-blue: hsla(189, 33%, 76%, 1);
--midnight-green-eagle-green: hsla(189, 70%, 21%, 1);
--sky-blue-crayola: hsla(189, 85%, 60%, 1);

/* SCSS HEX */
$charleston-green: #2a2d2eff;
$ming: #246b78ff;
$light-blue: #aed0d6ff;
$midnight-green-eagle-green: #104e59ff;
$sky-blue-crayola: #43d6f0ff;

/* SCSS HSL */
$charleston-green: hsla(195, 5%, 17%, 1);
$ming: hsla(189, 54%, 31%, 1);
$light-blue: hsla(189, 33%, 76%, 1);
$midnight-green-eagle-green: hsla(189, 70%, 21%, 1);
$sky-blue-crayola: hsla(189, 85%, 60%, 1);

/* SCSS RGB */
$charleston-green: rgba(42, 45, 46, 1);
$ming: rgba(36, 107, 120, 1);
$light-blue: rgba(174, 208, 214, 1);
$midnight-green-eagle-green: rgba(16, 78, 89, 1);
$sky-blue-crayola: rgba(67, 214, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-right: linear-gradient(90deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-bottom: linear-gradient(180deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-left: linear-gradient(270deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-top-right: linear-gradient(45deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-bottom-right: linear-gradient(135deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-top-left: linear-gradient(225deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-bottom-left: linear-gradient(315deg, #2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);
$gradient-radial: radial-gradient(#2a2d2eff, #246b78ff, #aed0d6ff, #104e59ff, #43d6f0ff);