
html, body{
    min-height: 100%;
}
body{
    background: url("img/backgrounds/leaf2.jpeg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.hide{
    display: none;
}
#navbar{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    0 0 10px rgba(0, 0, 0, 0.3);
}
#navbar h3{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
}
#navbar #menu{
    margin-right: 25px;
    display: flex;
    width: 25%;
    justify-content: space-around;
}
#navbar .contact#youtube{
    background: url("img/icons/youtube.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    border-radius: 3px;
}
#navbar .contact#youtube:hover{
    background: url("img/icons/youtube_black.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#navbar .contact#twitter{
    background: url("img/icons/twitter.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    border-radius: 35px;
}
#navbar .contact#twitter:hover{
    background: url("img/icons/twitter_black.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#navbar .contact#instagram{
    background: url("img/icons/instagram.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    border-radius: 10px;
}
#navbar .contact#instagram:hover{
    background: url("img/icons/instagram_black.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#navbar .contact#musics{
    background: url("img/icons/music.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#musics:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#images{
    background: url("img/icons/img.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#images:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#videos{
    background: url("img/icons/video.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#videos:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#docs{
    background: url("img/icons/doc.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    3px 3px 3px rgba(0, 0, 0, 0.3);
}
#navbar .contact#docs:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#contain label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 90%;
    margin-left: 35px;
    margin-bottom: 20px;
}
#contain label div{
    min-height: 40px;
    min-width: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    3px 3px 3px rgba(0, 0, 0, 0.3);
}
#contain label div:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#contain label h5{
    margin-left: 40px;
}
#contain label .dir{
    background: url("img/icons/folder.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#contain #dfiles.dmusic label .file{
    background: url("img/icons/music.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#contain #dfiles.dimage label .file{
    background: url("img/icons/img.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#contain #dfiles.dvideo label .file{
    background: url("img/icons/video.jpeg") no-repeat;
    background-size: contain;
    background-position: center;
}
#contain #dfiles.ddoc label .file{
    background: url("img/icons/doc.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#files, #contain{
    margin-top: 15vh;
    display: block;
    margin-bottom: 15vh;
}
#files label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-left: 35px;
    margin-bottom: 20px;
}
#files label div{
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    2px 2px 2px rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
#files label div:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}
#files label h5{
    font-size: large;
}
#files #music{
    background: url("img/icons/music.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#files #photo{
    background: url("img/icons/img.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#files #video{
    background: url("img/icons/video.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#files #doc{
    background: url("img/icons/doc.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#files #submit{
    background: url("img/icons/send.jpg") no-repeat;
    background-size: contain;
    background-position: center;
}
#footbar{
    bottom: 0;
    left: 0;
    position: fixed;
    min-width: 100%;
    display: flex;
    padding: 10px 0 10px 0;
    justify-content: space-evenly; 
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    0 0 10px rgba(0, 0, 0, 0.3);
    background: url("img/backgrounds/leaf2.jpeg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#footbar .footbtn{
    height: 50px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 1), 
    3px 3px 3px rgba(0, 0, 0, 0.3);
}
#footbar .footbtn:hover{
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), 
    inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#footbar .footbtn#client{
    background: url("img/icons/send.png") no-repeat;
    background-size: contain;
    background-position: center;
}
#footbar .footbtn#server{
    background: url("img/icons/receive.jpeg") no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    #navbar{
        padding: 30px 0 30px 0;
    }
    #navbar h3{
        font-size: xx-large;
        margin-left: 50px;
    }
    #navbar #menu{
        margin-right: 50px;
        width: 40%;
    }
    #navbar .contact#youtube{
        height: 75px;
        width: 75px;
    }
    #navbar .contact#twitter{
        height: 75px;
        width: 75px;
    }
    #navbar .contact#instagram{
        height: 75px;
        width: 75px;
    }
    #navbar .contact#musics{
        height: 75px;
        width: 75px;
    }
    #navbar .contact#images{
        height: 75px;
        width: 75px;
    }
    #navbar .contact#videos{
        height: 75px;
        width: 75px;
    }
    #navbar .contact#docs{
        height: 75px;
        width: 75px;
    }
    #contain label{
        width: 60%;
        margin-left: 70px;
        margin-bottom: 40px;
    }
    #contain label div{
        height: 80px;
        width: 80px;
        border-radius: 8px;
    }
    #contain label h5{
        margin-left: 60px;
        font-size: x-large;
    }
    #contain label .file{
        background: url("img/icons/file.png") no-repeat;
        background-size: contain;
        background-position: center;
    }
    #files, #contain{
        margin-top: 12vh;
    }
    #files label{
        width: 60%;
        margin-left: 70px;
        margin-bottom: 120px;
    }
    #files label div{
        height: 120px;
        width: 120px;
        border-radius: 120px;
    }
    #files label h5{
        font-size: x-large;
    }
    #footbar{
        padding: 30px 0 30px 0;
    }
    #footbar .footbtn{
        height: 100px;
        width: 100px;
    }
}