#? stdtmpl(subsChar = '$', metaChar = '#')
#
#
#proc nshare(js, css, path : string) : string =
# result = ""
<!DOCTYPE html>
<html>
  <head>
    <!--<link rel="stylesheet" type="text/css" href="global.css">-->
    <link rel="stylesheet" type="text/css" href="${path & css}.css">
    <title>nshare</title>
  </head>
  <body>
    <main id="ROOT"></main>
  </body>
  <script src="${path & js}.js"></script>
  <script src="${path & "js/readfile"}.js"></script>
<html>
#end proc