#? stdtmpl(subsChar = '$', metaChar = '#')
#
#
#proc mainrender*(info: varArgs[string]) : string =
# result = ""
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>nshare</title>
  </head>
  <body>
    #for each in info:
      ${each}
    #end for
  </body>
  <script src="site.js"></script>
<html>
#end proc
#
#
#proc client*(music, img, video, doc : string) : string =
# result = ""
<form id="files" action="/client" method="POST" enctype="multipart/form-data">
  <input type="file" name="music" id="musicfile" class="hide" accept="${music}">
  <input type="hidden" id="musicname" name="musicname">
  <label for="musicfile">
    <div id="music"></div>
    <h5 class="explain">Select music to send</h5>
  </label>
  <input type="file" name="photo" id="photofile" class="hide" accept="${img}">
  <input type="hidden" id="photoname" name="photoname">
  <label for="photofile">
    <div id="photo"></div>
    <h5 class="explain">select image to send</h5>
  </label>
  <input type="file" name="video" id="videofile" class="hide" accept="${video}">
  <input type="hidden" id="videoname" name="videoname">
  <label for="videofile">
    <div id="video"></div>
    <h5 class="explain">select video to send</h5>
  </label>
  <input type="file" name="doc" id="documents" class="hide" accept="${doc}">
  <input type="hidden" id="docname" name="docname">
  <label for="documents">
    <div id="doc"></div>
    <h5 class="explain">select document to send</h5>
  </label>
  <input type="submit" id="send" class="hide" onclick="getfilename()">
  <label for="send">
    <div id="submit"></div>
    <h5 class="explain">send</h5>
  </label>
</form>
<footer id="footbar">
  <a href="/client">
    <div class="footbtn" id="client">

    </div>
  </a>
  <a href="/server">
    <div class="footbtn" id="server">

    </div>
  </a>
</footer>
<nav id="navbar">
  <h3 id="logo">nshare</h3>
  <div id="menu">
    <a href="/">
      <div class="contact" id="youtube">

      </div>
    </a>
    <a href="/">
      <div class="contact" id="twitter">

      </div>
    </a>
    <a href="/">
      <div class="contact" id="instagram">

      </div>
    </a>
  </div>
</nav>

#end proc
#
#
#proc server*(mname, mpath, mtype, iname, ipath, itype, vname, vpath, vtype, dname, dpath, dtype : seq[string]) : string =
# result = ""
<div id="contain">
  #for i in 0..<mname.len:
    #if mtype[i] == "pcDir":
      <form id="ddirs" action="/server" method="POST" class="dmusic" style="display: none;">
        <input type="hidden" value="${mpath[i]}" name="path">
        <input type="hidden" value="${mname[i]}" name="name">
        <input type="hidden" value="${mtype[i]}" name="type">
        <input type="submit" id="${mname[i]}" style="display: none;">
        <label for="${mname[i]}">
          <div class="dir"></div>
          <h5 class="name">${mname[i]}</h5>
        </label>
      </form>
    #else:
      <form id="dfiles" action="/server" method="POST" class="dmusic" style="display: none;">
        <input type="hidden" value="${mpath[i]}" name="path">
        <input type="hidden" value="${mname[i]}" name="name">
        <input type="hidden" value="${mtype[i]}" name="type">
        <input type="submit" id="${mname[i]}" style="display: none;">
        <label for="${mname[i]}">
          <div class="file"></div>
          <h5 class="name">${mname[i]}</h5>
        </label>
      </form>
    #end else
  #end for
  #for i in 0..<iname.len:
    #if itype[i] == "pcDir":
      <form id="ddirs" action="/server" method="POST" class="dimage" style="display: none;">
        <input type="hidden" value="${ipath[i]}" name="path">
        <input type="hidden" value="${iname[i]}" name="name">
        <input type="hidden" value="${itype[i]}" name="type">
        <input type="submit" id="${iname[i]}" style="display: none;">
        <label for="${iname[i]}">
          <div class="dir"></div>
          <h5 class="name">${iname[i]}</h5>
        </label>
      </form>
    #else:
      <form id="dfiles" action="/server" method="POST" class="dimage" style="display: none;">
        <input type="hidden" value="${ipath[i]}" name="path">
        <input type="hidden" value="${iname[i]}" name="name">
        <input type="hidden" value="${itype[i]}" name="type">
        <input type="submit" id="${iname[i]}" style="display: none;">
        <label for="${iname[i]}">
          <div class="file"></div>
          <h5 class="name">${iname[i]}</h5>
        </label>
      </form>
    #end else
  #end for
  #for i in 0..<vname.len:
    #if vtype[i] == "pcDir":
      <form id="ddirs" action="/server" method="POST" class="dvideo" style="display: none;">
        <input type="hidden" value="${vpath[i]}" name="path">
        <input type="hidden" value="${vname[i]}" name="name">
        <input type="hidden" value="${vtype[i]}" name="type">
        <input type="submit" id="${vname[i]}" style="display: none;">
        <label for="${vname[i]}">
          <div class="dir"></div>
          <h5 class="name">${vname[i]}</h5>
        </label>
      </form>
    #else:
      <form id="dfiles" action="/server" method="POST" class="dvideo" style="display: none;">
        <input type="hidden" value="${vpath[i]}" name="path">
        <input type="hidden" value="${vname[i]}" name="name">
        <input type="hidden" value="${vtype[i]}" name="type">
        <input type="submit" id="${vname[i]}" style="display: none;">
        <label for="${vname[i]}">
          <div class="file"></div>
          <h5 class="name">${vname[i]}</h5>
        </label>
      </form>
    #end else
  #end for
  #for i in 0..<dname.len:
    #if dtype[i] == "pcDir":
      <form id="ddirs" action="/server" method="POST" class="ddoc" style="display: none;">
        <input type="hidden" value="${dpath[i]}" name="path">
        <input type="hidden" value="${dname[i]}" name="name">
        <input type="hidden" value="${dtype[i]}" name="type">
        <input type="submit" id="${dname[i]}" style="display: none;">
        <label for="${dname[i]}">
          <div class="dir"></div>
          <h5 class="name">${dname[i]}</h5>
        </label>
      </form>
    #else:
      <form id="dfiles" action="/server" method="POST" class="ddoc" style="display: none;">
        <input type="hidden" value="${dpath[i]}" name="path">
        <input type="hidden" value="${dname[i]}" name="name">
        <input type="hidden" value="${dtype[i]}" name="type">
        <input type="submit" id="${dname[i]}" style="display: none;">
        <label for="${dname[i]}">
          <div class="file"></div>
          <h5 class="name">${dname[i]}</h5>
        </label>
      </form>
    #end else
  #end for
</div>
<footer id="footbar">
  <a href="/">
    <div class="footbtn" id="client">

    </div>
  </a>
  <a href="/">
    <div class="footbtn" id="server">

    </div>
  </a>
</footer>

<nav id="navbar">
  <h3 id="logo">nshare</h3>
  <div id="menu">
    <div class="contact" id="musics" onclick=show("dmusic")>

    </div>
    <div class="contact" id="images" onclick=show("dimage")>

    </div>
    <div class="contact" id="videos" onclick=show("dvideo")>

    </div>
    <div class="contact" id="docs" onclick=show("ddoc")>

    </div>
  </div>
</nav>